<div class="card border-primary m-3">
  <div class="card-header d-inline-flex justify-content-between bg-dark">
    <p class="text-white my-2">
      Compañías
    </p>
    <button type="button" (click)="setHabilitar()" class="btn btn-info">
      {{ habilitar ? "Ocultar" : "Mostrar" }}
    </button>
  </div>
  <div class="card-body text-primary" *ngIf="habilitar">
    <h2 class="my-1 card-title">Listado de compañías</h2>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        routerLink="./form"
      >
        Añadir Compañía
      </button>
    </div>
    <div *ngIf="companies?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <!-- <div *ngIf="!companies" class="alert alert-danger">
        ERROR: la consulta no devuelve respuesta del servidor.
      </div> -->
    <table
      class="table table-bordered table-striped"
      *ngIf="companies?.length > 0"
    >
      <thead>
        <tr>
          <th>CIF</th>
          <th>Nombre</th>
          <th class="text-center">EDITAR</th>
          <th class="text-center">ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{ company.name }}</td>
          <td>{{ company.cif }}</td>
          <td class="text-center">
            <button
              type="button"
              name="editar"
              [routerLink]="['./form', company.cif]"
              class="btn btn-primary"
            >
              EDITAR
            </button>
          </td>
          <td class="text-center">
            <button
              type="button"
              name="eliminar"
              (click)="delete(company)"
              class="btn btn-danger"
            >
              BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
