<div class="card bg-dark text-white container my-3">
  <!-- Se evalua si es un nueva company o se está editando para cambiar el contenido del header -->
  <div
    class="card-header d-inline-flex justify-content-between"
    *ngIf="nuevaCompany; else elseHeader"
  >
    <p class="my-2">{{ creaCompany }}</p>
    <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
    <button
      type="button"
      name="back"
      class="close text-white"
      aria-label="Close"
      routerLink="/company"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-template #elseHeader>
    <div class="card-header d-inline-flex justify-content-between">
      <p class="my-2">{{ editaCompany }}</p>
      <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        routerLink="/company"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>
  <div class="card-body">
    <form #companyForm="ngForm">
      <!--  (ngSubmit)="create()" dentro del form para llamar a crear-->
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">CIF</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="company.cif"
            name="cif"
            placeholder="CIF"
            pattern="^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]{1}"
            [readOnly]="!nuevaCompany"
            required
            #cif="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="cif.invalid && (cif.dirty || cif.touched)"
          >
            <div *ngIf="cif.errors.required">
              Se requiere complementar el CIF.
            </div>
            <div *ngIf="cif.errors.pattern">
              El formato no es correcto.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="company.name"
            name="name"
            placeholder="Company name"
            required
            #name="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="name.invalid && (name.dirty || name.touched)"
          >
            <div *ngIf="name.errors.required">
              Se requiere complementar el nombre de la compañía.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 text-right">
          <!-- Se evalua si se muestra CREAR o EDITAR y su acción -->
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            [disabled]="!companyForm.form.valid"
            *ngIf="nuevaCompany; else elseBlock"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary"
              role="button"
              (click)="update()"
              [disabled]="!companyForm.form.valid"
            >
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
