<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/cliente">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pedido">Pedidos</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Gestión
        </a>
        <div
          class="dropdown-menu bg-dark"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item text-white" routerLink="/juego">Juegos</a>
          <a class="dropdown-item text-white" routerLink="/tienda">Tienda</a>
          <a class="dropdown-item text-white" routerLink="/company"
            >Compañías</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
