<div class="card bg-dark text-white container my-3">
  <!-- Se evalua si es un nuevo cliente o se está editando para cambiar el contenido del header -->
  <div
    class="card-header d-inline-flex justify-content-between"
    *ngIf="nuevoPedido; else elseHeader"
  >
    <p class="my-2">{{ creaPedido }}</p>
    <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
    <button
      type="button"
      name="back"
      class="close text-white"
      aria-label="Close"
      routerLink="/pedido"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-template #elseHeader>
    <div class="card-header d-inline-flex justify-content-between">
      <p class="my-2">{{ editaPedido }}</p>
      <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        routerLink="/pedido"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>
  <div class="card-body">
    <form #pedidoForm="ngForm">
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Cliente</label>
        <div class="col-sm-6">
          <select
            name="cliente"
            class="form-control"
            [(ngModel)]="pedido.cliente"
            [compareWith]="compareCliente"
            required
            #cliente="ngModel"
          >
            <option value="" disabled>-- Seleccionar cliente --</option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{
              cliente.documentoID.concat(
                " (".concat(cliente.nombre.concat(")"))
              )
            }}</option>
          </select>
          <div
            class="alert alert-danger my-1"
            *ngIf="cliente.invalid && (cliente.dirty || cliente.touched)"
          >
            <div *ngIf="cliente.errors.required">
              Se requiere complementar el cliente del pedido.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right"
          >Estado del pedido</label
        >
        <div class="col-sm-6">
          <select
            name="estado"
            class="form-control"
            [(ngModel)]="pedido.state"
            required
            #estado="ngModel"
          >
            <option value="" selected disabled
              >-- Seleccionar estado del pedido --</option
            >
            <option *ngFor="let estado of estados" [ngValue]="estado">{{
              estado
            }}</option>
          </select>
          <div
            class="alert alert-danger my-1"
            *ngIf="cliente.invalid && (cliente.dirty || cliente.touched)"
          >
            <div *ngIf="cliente.errors.required">
              Se requiere complementar el cliente del pedido.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Juego</label>
        <div class="col-sm-6">
          <select
            name="juego"
            class="form-control"
            [(ngModel)]="pedido.gameRef"
            [compareWith]="compareJuego"
            required
            #juego="ngModel"
          >
            <option value="" selected disabled>-- Seleccionar juego --</option>
            <option *ngFor="let juego of juegos" [ngValue]="juego">{{
              juego.title
            }}</option>
          </select>
          <div
            class="alert alert-danger my-1"
            *ngIf="juego.invalid && (juego.dirty || juego.touched)"
          >
            <div *ngIf="juego.errors.required">
              Se requiere complementar el juego del pedido.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Tienda</label>
        <div class="col-sm-6">
          <select
            name="tienda"
            class="form-control"
            [(ngModel)]="pedido.tienda"
            [compareWith]="compareTienda"
            required
            #tienda="ngModel"
          >
            <option value="" selected disabled>-- Seleccionar tienda --</option>
            <option *ngFor="let tienda of tiendas" [ngValue]="tienda">{{
              tienda.name
            }}</option>
          </select>
          <div
            class="alert alert-danger my-1"
            *ngIf="tienda.invalid && (tienda.dirty || tienda.touched)"
          >
            <div *ngIf="tienda.errors.required">
              Se requiere complementar la tienda del pedido.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 text-right">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="nuevoPedido; else elseBlock"
            [disabled]="!pedidoForm.valid"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary"
              role="button"
              (click)="update()"
              [disabled]="!pedidoForm.valid"
            >
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
