<div class="card bg-dark text-white container my-3">
  <div class="card-header d-inline-flex justify-content-between">
    <p class="my-2">Seleccione el cliente:</p>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-info mx-3"
        type="button"
        routerLink="./form"
      >
        NUEVO PEDIDO
      </button>
    </div>
  </div>
  <div class="card-body">
    <form id="myForm">
      <div class="col-sm-12 d-inline-flex align-items-center">
        <select
          name="cliente"
          class="form-control"
          [(ngModel)]="busqueda"
          #clienteBusq="ngModel"
          required
        >
          <option value="" selected disabled>--Seleccionar el cliente--</option>
          <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{
            cliente.nombre
          }}</option>
        </select>
        <button class="btn btn-primary m-2" type="reset">
          CLEAR
        </button>
        <button
          class="btn btn-success"
          role="button"
          [disabled]="!clienteBusq.valid"
          (click)="getPedidos(busqueda.documentoID)"
        >
          SEARCH
        </button>
      </div>
    </form>
  </div>
</div>
<div>
  <div
    class="card border-primary container p-0"
    *ngIf="pedidos?.length > 0 || empty()"
  >
    <div class="card-header d-inline-flex justify-content-between bg-dark">
      <p class="text-white my-2">Pedidos</p>
      <button type="button" (click)="setHabilitar()" class="btn btn-info">
        {{ habilitar ? "Ocultar" : "Mostrar" }}
      </button>
    </div>
    <div class="card-body text-primary fondo" *ngIf="habilitar">
      <h2 class="my-1 card-title">
        Listado de pedidos
      </h2>
      <div *ngIf="pedidos?.length <= 0" class="alert alert-info">
        No existen registros en la base de datos.
      </div>
      <table
        class="table table-bordered table-striped"
        *ngIf="pedidos?.length > 0"
      >
        <thead>
          <tr>
            <th>Ref.</th>
            <th>Fecha de creación</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Juego</th>
            <th>Tienda</th>
            <th class="text-center">EDITAR</th>
            <th class="text-center">ELIMINAR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.pedidoID }}</td>
            <td>{{ pedido.fechCreate }}</td>
            <td>{{ pedido.state }}</td>
            <td>{{ pedido.cliente.nombre }}</td>
            <td>{{ pedido.gameRef.title }}</td>
            <td>{{ pedido.tienda.name }}</td>
            <td class="text-center">
              <button
                type="button"
                name="editar"
                [routerLink]="['./form', pedido.pedidoID]"
                class="btn btn-primary"
              >
                EDITAR
              </button>
            </td>
            <td class="text-center">
              <button
                type="button"
                name="eliminar"
                class="btn btn-danger"
                (click)="delete(pedido)"
              >
                BORRAR
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
