<div class="card bg-dark text-white container my-3">
  <div
    class="card-header d-inline-flex justify-content-between"
    *ngIf="nuevaTienda; else editarBlock"
  >
    <p class="my-2">{{ creaTienda }}</p>
    <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
    <button
      type="button"
      name="back"
      class="close text-white"
      aria-label="Close"
      routerLink="/tienda"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-template #editarBlock>
    <div class="card-header d-inline-flex justify-content-between">
      <p class="my-2">{{ editaTienda }}</p>
      <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        routerLink="/tienda"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="tienda.name"
            name="name"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right"
          >Dirección</label
        >
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="tienda.address"
            name="address"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 text-right">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            name="crear"
            *ngIf="nuevaTienda; else elseBlock"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary"
              role="button"
              (click)="update()"
              name="editar"
            >
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
