<div class="card border-primary m-3">
  <div class="card-header d-inline-flex justify-content-between bg-dark">
    <p class="text-white my-2">
      Tiendas
    </p>
    <button type="button" (click)="setHabilitar()" class="btn btn-info">
      {{ habilitar ? "Ocultar" : "Mostrar" }}
    </button>
  </div>
  <div class="card-body text-primary" *ngIf="habilitar">
    <h2 class="my-1 card-title">Listado de tiendas</h2>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        routerLink="./form"
      >
        Crear Tienda
      </button>
    </div>
    <div *ngIf="tiendas?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="tiendas?.length > 0"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th class="text-center">EDITAR</th>
          <th class="text-center">ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tienda of tiendas">
          <td>{{ tienda.tiendaID }}</td>
          <td>{{ tienda.name }}</td>
          <td>{{ tienda.address }}</td>
          <td class="text-center">
            <button
              type="button"
              name="editar"
              [routerLink]="['./form', tienda.name]"
              class="btn btn-primary"
            >
              EDITAR
            </button>
          </td>
          <td class="text-center">
            <button
              type="button"
              name="eliminar"
              (click)="delete(tienda)"
              class="btn btn-danger"
            >
              BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
