<div class="card bg-dark text-white container my-3">
  <!-- Se evalua si es un nuevo cliente o se está editando para cambiar el contenido del header -->
  <div
    class="card-header d-inline-flex justify-content-between"
    *ngIf="nuevoJuego; else elseHeader"
  >
    <p class="my-2">{{ creaJuego }}</p>
    <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
    <button
      type="button"
      name="back"
      class="close text-white"
      aria-label="Close"
      routerLink="/juego"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-template #elseHeader>
    <div class="card-header d-inline-flex justify-content-between">
      <p class="my-2">{{ editaJuego }}</p>
      <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        routerLink="/juego"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>
  <div class="card-body">
    <form>
      <!--  (ngSubmit)="create()" dentro del form para llamar a crear-->

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Título</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="juego.title"
            name="title"
            required
            #title="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="title.invalid && (title.dirty || title.touched)"
          >
            <div *ngIf="title.errors.required">
              Se requiere complementar el título del juego.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right"
          >Fecha Lanzamiento</label
        >
        <div class="col-sm-6">
          <input
            type="date"
            class="form-control"
            [(ngModel)]="juego.launchDate"
            name="launchDate"
            required
            #fecha="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
          >
            <div *ngIf="fecha.errors.required">
              Se requiere complementar la fecha de lanzamiento.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="categoria" class="col-form-label col-sm-4 text-right"
          >Categoría</label
        >
        <div class="col-sm-6">
          <select
            name="categoria"
            class="form-control"
            [(ngModel)]="juego.category"
            required
            #categoria="ngModel"
          >
            <option value="" selected disabled
              >-- Seleccionar categoría --</option
            >
            <option *ngFor="let option of categories" [ngValue]="option">{{
              option
            }}</option>
          </select>
          <div
            class="alert alert-danger my-1"
            *ngIf="categoria.invalid && categoria.touched"
          >
            <div *ngIf="categoria.errors.required">
              Debe rellenar la categoría del Juego
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">PEGI</label>
        <div class="col-sm-6">
          <select
            name="pegi"
            class="form-control"
            [compareWith]="comparePegi"
            [(ngModel)]="juego.pegi"
            required
            #pegi="ngModel"
          >
            <option value="" selected disabled
              >--Seleccionar escala PEGI--</option
            >
            <option [ngValue]="3">3</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="12">12</option>
            <option [ngValue]="16">16</option>
            <option [ngValue]="18">18</option>
          </select>
          <!-- <input
            type="number"
            class="form-control"
            [(ngModel)]="juego.pegi"
            name="pegi"
            required
            #pegi
          /> -->
          <div
            class="alert alert-danger my-1"
            *ngIf="pegi.invalid && (pegi.dirty || pegi.touched)"
          >
            <div *ngIf="pegi.errors.required">
              Se requiere complementar el PEGI del juego.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="desarrolladoras" class="col-form-label col-sm-4 text-right"
          >Compañía</label
        >
        <div class="col-sm-6">
          <select
            [compareWith]="compareCompany"
            multiple
            class="form-control"
            [(ngModel)]="juego.companyName"
            name="companyName"
            required
          >
            <option *ngFor="let company of companies" [ngValue]="company">{{
              company.name
            }}</option>
          </select>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right"
          >Compañía</label
        >
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="juego.companyName"
            name="company"
          />
        </div>
      </div> -->

      <div class="form-group row">
        <div class="col-sm-10 text-right">
          <!-- Se evalua si se muestra CREAR o EDITAR y su acción -->
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="nuevoJuego; else elseBlock"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()">
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
