<div class="card border-primary m-3">
  <div class="card-header d-inline-flex justify-content-between bg-dark">
    <p class="text-white my-2">
      Juegos
    </p>
    <button type="button" (click)="setHabilitar()" class="btn btn-info">
      {{ habilitar ? "Ocultar" : "Mostrar" }}
    </button>
  </div>
  <div class="card-body text-primary fondo" *ngIf="habilitar">
    <h2 class="my-1 card-title">Listado de juegos</h2>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        routerLink="./form"
      >
        Añadir Juego
      </button>
    </div>
    <div *ngIf="juegos?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="juegos?.length > 0"
    >
      <thead>
        <tr>
          <th>Ref.</th>
          <th>Título</th>
          <th>Fecha Lanz.</th>
          <th>Categoría</th>
          <th>PEGI</th>
          <th>Compañías</th>
          <th class="text-center">EDITAR</th>
          <th class="text-center">ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let juego of juegos">
          <td>{{ juego.juegoRef }}</td>
          <td>{{ juego.title }}</td>
          <td>{{ juego.launchDate }}</td>
          <td>{{ juego.category }}</td>
          <td>{{ juego.pegi }}</td>
          <td>
            <span *ngFor="let company of juego.companyName">
              {{ company.name }}.
            </span>
          </td>
          <td class="text-center">
            <button
              type="button"
              name="editar"
              [routerLink]="['./form', juego.juegoRef]"
              class="btn btn-primary"
            >
              EDITAR
            </button>
          </td>
          <td class="text-center">
            <button
              type="button"
              name="eliminar"
              (click)="delete(juego)"
              class="btn btn-danger"
            >
              BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
