<div class="container">
  <h1
    class="rounded py-2 my-3 bg bg-dark text-uppercase text-center text-white"
  >
    Bienvenido al servicio BLOCKBASTER
  </h1>

  <div class="d-flex justify-content-around">
    <a class="box" routerLink="/cliente">CLIENTES</a>

    <a class="box" routerLink="/juego">JUEGOS</a>
  </div>
  <div class="d-flex justify-content-around">
    <a class="box" routerLink="/tienda">TIENDA</a>

    <a class="box" routerLink="/company">COMPAÑÍA</a>
  </div>
  <div class="d-flex justify-content-center">
    <a class="box-large" routerLink="/pedido">PEDIDOS</a>
  </div>
</div>
