a {
  position: relative;
  text-decoration: none;
  color: white;
  background: linear-gradient(grey, black);
  transition: linear 0.5s;
  z-index: 1;
}
a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(lightblue, grey);
  box-shadow: 5px 5px 10px 3px darkslategray;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 10px;
}
a:hover::before {
  opacity: 1;
}
a:hover {
  transition: 0.5s ease;
  color: black;
  font-size: 35px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  min-width: 50%;
  min-height: 20vh;
  font-size: xx-large;
  border-radius: 10px;
}
.box-large {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  min-width: 102.25%;
  min-height: 20vh;
  font-size: xx-large;
  border-radius: 10px;
}
