<div class="card border-primary m-3">
  <div class="card-header d-inline-flex justify-content-between bg-dark">
    <p class="text-white my-2">
      Clientes
    </p>
    <button type="button" (click)="setHabilitar()" class="btn btn-info">
      {{ habilitar ? "Ocultar" : "Mostrar" }}
    </button>
  </div>
  <div class="card-body text-primary" *ngIf="habilitar">
    <h2 class="my-1 card-title">Listado de clientes</h2>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        routerLink="./form"
      >
        Crear Cliente
      </button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <!-- <div *ngIf="!clientes" class="alert alert-danger">
      ERROR: la consulta no devuelve respuesta del servidor.
    </div> -->
    <table
      class="table table-bordered table-striped"
      *ngIf="clientes?.length > 0"
    >
      <thead>
        <tr>
          <th>Documento</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Fecha Nac.</th>
          <th>Rol</th>
          <th class="text-center">EDITAR</th>
          <th class="text-center">ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes | paginate: page_size:page_number">
          <td>{{ cliente.documentoID }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.fechaNac }}</td>
          <td>{{ cliente.roles }}</td>
          <td class="text-center">
            <button
              type="button"
              name="editar"
              [routerLink]="['./form', cliente.documentoID]"
              class="btn btn-primary"
            >
              EDITAR
            </button>
          </td>
          <td class="text-center">
            <button
              type="button"
              name="eliminar"
              (click)="delete(cliente)"
              class="btn btn-danger"
            >
              BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <mat-paginator
        [length]="clientes.length"
        [pageSize]="page_size"
        [pageSizeOptions]="pageSizeOpt"
        (page)="handlePage($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
