<div class="card bg-dark text-white container my-3">
  <!-- Se evalua si es un nuevo cliente o se está editando para cambiar el contenido del header -->
  <div
    class="card-header d-inline-flex justify-content-between"
    *ngIf="nuevoCliente; else elseHeader"
  >
    <p class="my-2">{{ creaCliente }}</p>
    <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
    <button
      type="button"
      name="back"
      class="close text-white"
      aria-label="Close"
      routerLink="/cliente"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-template #elseHeader>
    <div class="card-header d-inline-flex justify-content-between">
      <p class="my-2">{{ editaCliente }}</p>
      <!-- Se crea un boton CROS para salir sin realizar ninguna acción -->
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        routerLink="/cliente"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <!--  (ngSubmit)="create()" dentro del form para llamar a crear-->
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right"
          >Documento</label
        >
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            #document="ngModel"
            [(ngModel)]="cliente.documentoID"
            [readOnly]="!nuevoCliente"
            name="documentoID"
            pattern="^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]{1}"
            placeholder="NIF/NIE"
            required
            maxlength="9"
            minlength="9"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="document.invalid && (document.dirty || document.touched)"
          >
            <div *ngIf="document.errors.required">
              Se requiere complementar el documento.
            </div>
            <div *ngIf="document.errors.pattern">
              El patrón no coincide con el de NIF/NIE.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.nombre"
            name="nombre"
            maxlength="20"
            minlength="3"
            placeholder="First name"
            required
            #nombre="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div *ngIf="nombre.errors.required">
              Se requiere complementar el nombre.
            </div>
            <div *ngIf="nombre.errors.minlength">
              La cantidad de caracteres debe ser superior a 2.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right">Email</label>
        <div class="col-sm-6">
          <input
            type="email"
            class="form-control"
            [(ngModel)]="cliente.correo"
            placeholder="example@example.ex"
            name="correo"
            required
            email
            #correo="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="correo.invalid && (correo.dirty || correo.touched)"
          >
            <div *ngIf="correo.errors.required">
              Se requiere complementar el email.
            </div>
            <div *ngIf="correo.errors.email">
              El formato de email no es válido.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right"
          >Fecha de Nacimiento</label
        >
        <div class="col-sm-6">
          <input
            type="date"
            placeholder="dd/MM/yyyy"
            min="1920-01-01"
            max="{{ today }}"
            class="form-control"
            [(ngModel)]="cliente.fechaNac"
            name="fechaNac"
            required
            #fecha="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
          >
            <div *ngIf="fecha.errors.required">
              Se requiere complementar la fecha de nacimiento.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-4 text-right"
          >Contraseña</label
        >
        <div class="col-sm-6">
          <input
            type="{{ showPass }}"
            class="form-control"
            [(ngModel)]="cliente.password"
            name="password"
            maxlength="15"
            minlength="8"
            placeholder="Between 8 - 15 caracters"
            required
            #passValid="ngModel"
          />
          <div
            class="alert alert-danger my-1"
            *ngIf="passValid.invalid && (passValid.dirty || passValid.touched)"
          >
            <div *ngIf="passValid.errors.required">
              Se requiere complementar una nueva contraseña.
            </div>
            <div *ngIf="passValid.errors.minlength">
              Debe contener al menos 8 caracteres.
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <button
            class="btn btn-danger"
            role="button"
            name="pass_show"
            (click)="changeShowPass()"
          >
            <div *ngIf="showButton">
              SHOW
            </div>
            <div *ngIf="!showButton">
              HIDE
            </div>
          </button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 text-right">
          <!-- Se evalua si se muestra CREAR o EDITAR y su acción -->
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            [disabled]="!clienteForm.form.valid"
            *ngIf="nuevoCliente; else elseBlock"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary"
              role="button"
              (click)="update()"
              [disabled]="!clienteForm.form.valid"
            >
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
